# key files
keys
*.pem

# log files
*.log
logs

# environment variables / config files
*.env
*.config

# databases
*.db
*.sqlite

# vscode
.vscode

# build files
build
*.exe
main
*.zip
*.rar
static
release
dor
plans